:root {
  --ff-in: 'Inter';
  --ff-sf: 'SF UI Display';
  --ff-rob: 'Roboto';
}

/* inter-regular - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/inter-v8-latin_cyrillic-regular.woff2") format("woff2");
}

/* inter-600 - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/inter-v8-latin_cyrillic-600.woff2") format("woff2");
}

/* inter-700 - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/inter-v8-latin_cyrillic-700.woff2") format("woff2");
}

/* inter-900 - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/inter-v8-latin_cyrillic-900.woff2") format("woff2");
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-regular.woff2") format("woff2");
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-700.woff2") format("woff2");
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-900.woff2") format("woff2");
}

@font-face {
  font-family: 'SF UI Display';
  src: url("SFUIDisplay-Regular.eot");
  src: local("SF UI Display Regular"), local("SFUIDisplay-Regular"), url("SFUIDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Regular.woff2") format("woff2"), url("SFUIDisplay-Regular.woff") format("woff"), url("SFUIDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url("SFUIDisplay-Heavy.eot");
  src: local("SF UI Display Heavy"), local("SFUIDisplay-Heavy"), url("SFUIDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Heavy.woff2") format("woff2"), url("SFUIDisplay-Heavy.woff") format("woff"), url("SFUIDisplay-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url("SFUIText-Heavy.eot");
  src: local("SF UI Text Heavy"), local("SFUIText-Heavy"), url("SFUIText-Heavy.eot?#iefix") format("embedded-opentype"), url("SFUIText-Heavy.woff2") format("woff2"), url("SFUIText-Heavy.woff") format("woff"), url("SFUIText-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url("SFUIText-Semibold.eot");
  src: local("SF UI Text Semibold"), local("SFUIText-Semibold"), url("SFUIText-Semibold.eot?#iefix") format("embedded-opentype"), url("SFUIText-Semibold.woff2") format("woff2"), url("SFUIText-Semibold.woff") format("woff"), url("SFUIText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url("SFUIDisplay-Semibold.eot");
  src: local("SF UI Display Semibold"), local("SFUIDisplay-Semibold"), url("SFUIDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Semibold.woff2") format("woff2"), url("SFUIDisplay-Semibold.woff") format("woff"), url("SFUIDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url("SFUIText-Medium.eot");
  src: local("SF UI Text Medium"), local("SFUIText-Medium"), url("SFUIText-Medium.eot?#iefix") format("embedded-opentype"), url("SFUIText-Medium.woff2") format("woff2"), url("SFUIText-Medium.woff") format("woff"), url("SFUIText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url("SFUIDisplay-Bold.eot");
  src: local("SF UI Display Bold"), local("SFUIDisplay-Bold"), url("SFUIDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Bold.woff2") format("woff2"), url("SFUIDisplay-Bold.woff") format("woff"), url("SFUIDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url("SFUIText-Regular.eot");
  src: local("SF UI Text Regular"), local("SFUIText-Regular"), url("SFUIText-Regular.eot?#iefix") format("embedded-opentype"), url("SFUIText-Regular.woff2") format("woff2"), url("SFUIText-Regular.woff") format("woff"), url("SFUIText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url("SFUIText-Bold.eot");
  src: local("SF UI Text Bold"), local("SFUIText-Bold"), url("SFUIText-Bold.eot?#iefix") format("embedded-opentype"), url("SFUIText-Bold.woff2") format("woff2"), url("SFUIText-Bold.woff") format("woff"), url("SFUIText-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url("SFUIDisplay-Medium.eot");
  src: local("SF UI Display Medium"), local("SFUIDisplay-Medium"), url("SFUIDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Medium.woff2") format("woff2"), url("SFUIDisplay-Medium.woff") format("woff"), url("SFUIDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* inter-regular - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/inter-v8-latin_cyrillic-regular.woff2") format("woff2");
}

/* inter-600 - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/inter-v8-latin_cyrillic-600.woff2") format("woff2");
}

/* inter-700 - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/inter-v8-latin_cyrillic-700.woff2") format("woff2");
}

/* inter-900 - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/inter-v8-latin_cyrillic-900.woff2") format("woff2");
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-regular.woff2") format("woff2");
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-700.woff2") format("woff2");
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-900.woff2") format("woff2");
}

@font-face {
  font-family: 'SF UI Display';
  src: url("SFUIDisplay-Regular.eot");
  src: local("SF UI Display Regular"), local("SFUIDisplay-Regular"), url("SFUIDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Regular.woff2") format("woff2"), url("SFUIDisplay-Regular.woff") format("woff"), url("SFUIDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url("SFUIDisplay-Heavy.eot");
  src: local("SF UI Display Heavy"), local("SFUIDisplay-Heavy"), url("SFUIDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Heavy.woff2") format("woff2"), url("SFUIDisplay-Heavy.woff") format("woff"), url("SFUIDisplay-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url("SFUIText-Heavy.eot");
  src: local("SF UI Text Heavy"), local("SFUIText-Heavy"), url("SFUIText-Heavy.eot?#iefix") format("embedded-opentype"), url("SFUIText-Heavy.woff2") format("woff2"), url("SFUIText-Heavy.woff") format("woff"), url("SFUIText-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url("SFUIText-Semibold.eot");
  src: local("SF UI Text Semibold"), local("SFUIText-Semibold"), url("SFUIText-Semibold.eot?#iefix") format("embedded-opentype"), url("SFUIText-Semibold.woff2") format("woff2"), url("SFUIText-Semibold.woff") format("woff"), url("SFUIText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url("SFUIDisplay-Semibold.eot");
  src: local("SF UI Display Semibold"), local("SFUIDisplay-Semibold"), url("SFUIDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Semibold.woff2") format("woff2"), url("SFUIDisplay-Semibold.woff") format("woff"), url("SFUIDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url("SFUIText-Medium.eot");
  src: local("SF UI Text Medium"), local("SFUIText-Medium"), url("SFUIText-Medium.eot?#iefix") format("embedded-opentype"), url("SFUIText-Medium.woff2") format("woff2"), url("SFUIText-Medium.woff") format("woff"), url("SFUIText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url("SFUIDisplay-Bold.eot");
  src: local("SF UI Display Bold"), local("SFUIDisplay-Bold"), url("SFUIDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Bold.woff2") format("woff2"), url("SFUIDisplay-Bold.woff") format("woff"), url("SFUIDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url("SFUIText-Regular.eot");
  src: local("SF UI Text Regular"), local("SFUIText-Regular"), url("SFUIText-Regular.eot?#iefix") format("embedded-opentype"), url("SFUIText-Regular.woff2") format("woff2"), url("SFUIText-Regular.woff") format("woff"), url("SFUIText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url("SFUIText-Bold.eot");
  src: local("SF UI Text Bold"), local("SFUIText-Bold"), url("SFUIText-Bold.eot?#iefix") format("embedded-opentype"), url("SFUIText-Bold.woff2") format("woff2"), url("SFUIText-Bold.woff") format("woff"), url("SFUIText-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url("SFUIDisplay-Medium.eot");
  src: local("SF UI Display Medium"), local("SFUIDisplay-Medium"), url("SFUIDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("SFUIDisplay-Medium.woff2") format("woff2"), url("SFUIDisplay-Medium.woff") format("woff"), url("SFUIDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.dropdown {
  position: relative;
}

.dropdown__button {
  position: relative;
  width: 100%;
  text-align: left;
  background: transparent;
  border: none;
  border-radius: 6px;
  height: 46px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #737C8A;
}

.dropdown__button:focus, .dropdown__button--active {
  outline: none;
  box-shadow: none;
}

.dropdown__button::after {
  content: "";
  position: absolute;
  right: 0;
  background-image: url(../img/icons/drop-list-arrow.svg);
  background-size: cover;
  width: 12px;
  height: 7px;
  pointer-events: none;
  transition: transform 0.3s ease;
}

.dropdown__button--active::after {
  transform: rotate(180deg);
}

.dropdown__list {
  display: none;
  position: absolute;
  left: 0;
  top: 46px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #FFFFFF;
  overflow: hidden;
  border-radius: 0;
  width: 100%;
  z-index: 1;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #737C8A;
}

.dropdown__list--visible {
  display: block;
}

.dropdown__list-item {
  margin: 0;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 13px 20px;
  cursor: pointer;
}

.dropdown__list-item:hover {
  background: #F39313;
  color: #ffffff;
}

.dropdown__input-hidden {
  display: none;
}

.cust-btn--wh {
  font-family: var(--ff-in);
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #112145;
  padding: 5px 25px;
  background: #FFFFFF;
  border-radius: 4px;
  display: flex;
  align-items: center;
  min-height: 48px;
  border: 1px solid #FFFFFF;
}

.cust-tel {
  font-family: var(--ff-in);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
  color: #131820;
  text-decoration: none !important;
}

.main--login {
  background-image: url(../img/bg/1.jpg);
  background-size: cover;
  background-position: top center;
  font-family: var(--ff-in);
}

.opener__title {
  color: #ffffff;
  margin-top: 0;
}

.opener__inner {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.opener__subtitle {
  margin: 0;
  font-family: var(--ff-in);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.67;
  color: #FFFFFF;
}

.opener .form__btn-wrapper--offset-top {
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
}

.opener .solid-btn-main {
  padding: 5px 25px;
  display: flex;
  align-items: center;
}

.header__inner {
  justify-content: flex-start;
  gap: 8px;
}

.header__part--last {
  margin-left: auto;
}

.ghost-btn {
  font-family: var(--ff-in);
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: inherit;
  color: #ffffff;
  padding: 5px 25px;
  background: #F39313;
  border-radius: 4px;
  display: flex;
  align-items: center;
  min-height: 24px;
  border: 1px solid #F39313;
}

.solid-btn {
  font-family: var(--ff-in);
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: inherit;
  color: #ffffff;
  padding: 5px 25px;
  background: #364457;
  border-radius: 4px;
  display: flex;
  align-items: center;
  min-height: 24px;
  border: 1px solid #364457;
}

.footer__link {
  color: #fff;
}

.header__dropdown {
  max-width: 250px;
}

.ghost-btn-main:hover,
.main-btn-abstract:hover,
.solid-btn-main:hover,
.ghost-btn:hover,
.solid-btn:hover {
  background-color: #F39313;
  border-color: #F39313;
}

.list__subtitle {
  margin-bottom: 31px;
  color: #364457;
}

.car + .list__subtitle {
  margin-top: 33px;
}

.header__part--tel {
  margin-left: 16px;
}

.filter__dropdown .dropdown__button {
  border: 1px solid #C3C7CD;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #131820;
  margin-bottom: 26px;
}

.filter__dropdown .dropdown__button::after {
  right: 12px;
}

.filter__dropdown .js-accordion.active .filter__panel {
  max-height: 447px !important;
  height: 100%;
}

.car {
  transition: all 0.5s ease-in-out;
}

.car:hover {
  transform: translateX(24px);
}
